.cart{
    padding: 10px;
    background: rgba(255, 153, 0, 0.3);
}
.btn-clear-cart{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    background-color: brown;
    color: white;
    align-items: center;
}